.container {
  @apply bg-background-secondary  
    w-full py-3 px-16
    xs:px-8
    sm:px-8  
    justify-between items-center;
}

.title {
  @apply text-typhoColor-primary text-2xl 
  xs:mt-2
  md:mt-2
  sm:mt-2;
}

.descText {
  @apply text-white mt-2;
}

.infoContainer {
  @apply flex justify-between
  lg:flex-row 
  md:flex-row
  xs:flex-col
  sm:flex-col;
}
.articleSection {
  @apply w-80;
}

.copyrightText {
  @apply text-white text-center my-5;
}
