.mainContainer {
  @apply h-full bg-background-primary;
}

.floatButton {
  @apply my-8 float-right px-1 py-1 mr-6
  bg-background-tertiary text-sm font-bold text-typhoColor-tertiary
  w-16
  tracking-wide rounded-lg focus:outline-none;
}
