.container {
  @apply bg-background-secondary  
  w-full py-2 h-20 px-12 
  flex flex-row justify-between items-center;
}

.title {
  @apply text-typhoColor-primary text-4xl;
}

.navbarTitle {
  @apply text-typhoColor-primary  active:text-white;
}

.navbar {
  @apply flex flex-row gap-5;
}
